* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

body, textarea {
    background-color: #f3f5fc;
}
#title {
    text-align: center;
    padding: 1.5rem;
    font-family: "Kode Mono", monospace;
    font-size: 3.0rem;
    flex: 1;
    height: auto;
    margin: auto;    
}

#principal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    width: 100%;
    height: 100%;
}

#section1, #section2 {
    height: 100%;
    width: 40%;
    margin: 1rem;
}

#section2 {
    height: 100%;
    width: 50%;
    margin: 1rem;
    border-radius: 60px;
    background-color: white;
}

#texto, #resultado_final {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    word-wrap: break-word;
    padding: 3.0rem;
    text-align: justify;        
}
#texto::placeholder {
    font-size: 1rem;
    font-family: "Kode Mono", monospace;
    padding: 0.5rem;   
    font-size: 1rem;
}


#texto {
    border: none; 
    resize: none;
       
}

#resultado_final {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#imagemEtexto {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.4rem;
    font-size: 1.0rem;    
    font-family: "Calibri", sans-serif;
    padding: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    gap: 1rem;
}

.button, #copiar {
    padding: 1rem;
    border: 1px solid blue;
    border-radius: 15px;
    width: 10rem;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-family: 'Calibri', sans-serif;
    background-color: #d8dfe8;
    color: #0A3871;
}

#criptografar {
    background-color: #0a3871;
    color: white;
}

#imgnothing {
    width: 80%;
    height: 60%;
}

#nothin {
    font-size: 1rem;
    text-align: center;
    font-family: "Kode Mono", monospace;
    padding: 0.5rem;
}

#info_result {
    font-size: 1rem;
    font-family: 'Calibri', sans-serif;
    padding: 10px;
}

#copiar {
    display: none;
    margin-top: 3rem;
    padding: 1rem;
    width: 15rem;
}

#footer {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Calibri', sans-serif;    
    flex: 2;
    height: auto;
    margin: auto;    

}

@media (max-width: 800px) {
    #principal {
        flex-direction: column;
    }

#title {
    font-size: 2rem;
}
    #texto, #resultado_final {
        width: 100%;
        height: 240px;
        padding: 2.0rem;
    }

    #resultado_final {
        gap: 5px;
    }
    
    #imagemEtexto {
        gap: 0.2rem;
        font-size: 0.8rem;    
    }

    #buttons {
        gap: 0.8rem;
    }
    
    .button, #copiar {
        padding: 0.8rem;
        font-size: 0.8rem;
    }
    
    #imgnothing {
        width: 150px;
    }
    
    #nothin {
        font-size: 0.8rem;
    }
    
    #info_result {
        font-size: 0.8rem;
    }
    
    #footer {
        font-size: 1.5rem;
    }
}

