* {
    border: 1px solid red;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

body {
    width: 100%;
    height: 99.7vh;
}

#title {
    text-align: center;
    padding: 0.5rem;
    font-family: "Kode Mono", monospace;
    font-size: 3.0rem;
}

#principal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 80vh;
}

#section1, #section2 {
    height: 100%;
    width: 50%;
    margin: 1rem;
    border: 1px solid blue;
    border-radius: 10%;
}

#texto, #resultado_final {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    word-wrap: break-word;
    padding: 0.5rem;
    text-align: justify;    
}

#imgnothing {
    width: 100%;
    height: 70%;
}

#nothin {
    font-size: 1rem;
    text-align: center;
    font-family: "Kode Mono", monospace;
    padding: 0.5rem;
}

#info_result {
    font-size: 0.5;
    font-family: 'Calibri', sans-serif;
    padding: 10px;
}
