* {
    border: 1px solid red;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}

.section1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5%;
    }
#text {
    width: auto;
    height: 80%;
}
.button {
    padding: 10px;
    margin: 10px;
}

#button {
    display: flex;
    justify-content: center;    ;
}

.text_result {
    height: 80%;
}
.result_info {
    text-align: center;
    padding: 0.8rem;
}

.typetext {
    padding: 1rem;
}
.section2 {
    width: 50%;
    margin: 5%;
}
